.hero {
    @media screen and (min-width: $break-sm) {
        height: 350px;
    }

    &__jumbotron {
        font-size: 3.125rem;
    }

    &__lead {
        color: var(--secondary-text);
        font-size: 1.5rem;
        line-height: 1.75;
        max-width: 750px;

        &--name {
            color: var(--tertiary-text);
            border-bottom: 3px solid var(--primary);
        }
    }
}
