$icomoon-font-family: "portfolioicons" !default;
$icomoon-font-path: "../fonts" !default;

//Note: "/" is removed and will be added during scss compilation. Fix reason is provided in "_icons.scss".
$icon-menu: "e901";
$icon-dark: "e900";
$icon-sun: "e9d4";
$icon-google: "ea88";
$icon-facebook: "ea90";
$icon-instagram: "ea92";
$icon-twitter: "ea96";
$icon-dribbble: "eaa7";
$icon-behance: "eaa8";
$icon-github: "eab0";
$icon-linkedin: "eaca";
$icon-codepen: "eae8";
