//
// Color system
//

// Colors
$white:#ffffff;
$black:#000000;

// Light Theme Colors
$light-theme-primary-color:#0368f4;
$light-theme-primary-bg:#ffffff;
$light-theme-secondary-bg:#f6f6f6;
$light-theme-primary-text:#000000;
$light-theme-secondary-text:#333333;
$light-theme-tertiary-text:#666666;
$light-theme-primary-border:#dee2e6;
$light-theme-scroll-bar-color:#d6dee1;
$light-theme-scroll-bar-hover-color:#a8bbbf;
$light-theme-shot-hover-bg: rgba($light-theme-primary-color, 0.85);
$light-theme-primary-btn-bg: $light-theme-primary-color;
$light-theme-primary-btn-hover-bg: darken($light-theme-primary-color, 10%);

$light-theme-colors:(
    "primary":         $light-theme-primary-color,
    "primary-bg":      $light-theme-primary-bg,
    "secondary-bg":    $light-theme-secondary-bg,
    "primary-text":    $light-theme-primary-text,
    "secondary-text":  $light-theme-secondary-text,
    "tertiary-text":   $light-theme-tertiary-text,
    "primary-border":  $light-theme-primary-border,
    "scroll-bar-color":  $light-theme-scroll-bar-color,
    "scroll-bar-hover-color":  $light-theme-scroll-bar-hover-color,
    "shot-hover-bg":   $light-theme-shot-hover-bg,
    "primary-btn-bg": $light-theme-primary-btn-bg,
    "primary-btn-hover-bg": $light-theme-primary-btn-hover-bg
    );

// Dark Theme Colors
$dark-theme-primary-color:#0AD7A7;
$dark-theme-primary-bg:#202124;
$dark-theme-secondary-bg:#3c4043;
$dark-theme-primary-text:#ffffff;
$dark-theme-secondary-text:#e8eaed;
$dark-theme-tertiary-text:#9aa0a6;
$dark-theme-primary-border:#5f6368;
$dark-theme-scroll-bar-color:#5f6368;
$dark-theme-scroll-bar-hover-color:darken($dark-theme-scroll-bar-color,1);
$dark-theme-shot-hover-bg: rgba($dark-theme-primary-color, 0.85);
$dark-theme-primary-btn-bg: $dark-theme-primary-color;
$dark-theme-primary-btn-hover-bg: darken($dark-theme-primary-color, 10%);

$dark-theme-colors:(
    "primary":         $dark-theme-primary-color,
    "primary-bg":      $dark-theme-primary-bg,
    "secondary-bg":    $dark-theme-secondary-bg,
    "primary-text":    $dark-theme-primary-text,
    "secondary-text":  $dark-theme-secondary-text,
    "tertiary-text":   $dark-theme-tertiary-text,
    "primary-border":  $dark-theme-primary-border,
    "scroll-bar-color":  $dark-theme-scroll-bar-color,
    "scroll-bar-hover-color":  $dark-theme-scroll-bar-hover-color,
    "shot-hover-bg":   $dark-theme-shot-hover-bg,
    "primary-btn-bg": $dark-theme-primary-btn-bg,
    "primary-btn-hover-bg": $dark-theme-primary-btn-hover-bg 
);


//
// Fonts
//
$font-family:'Poppins', sans-serif;

//
// Break Points
//
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
) !default;

//
// Aspect Ratio
//
$aspect-ratios: (
  "14x9": calc(9 / 14 * 100%)
) !default;

//
// Transitions
//
$transition-property: all !default;
$transition-duration: 250ms !default;
$transition-timing-function: ease-in-out !default;
$transition-base: #{$transition-property} #{$transition-duration} #{$transition-timing-function};

//
// Icon Fonts
//
$icomoon-font-family: "portfolioicons" !default;
$icomoon-font-path: "../fonts" !default;

// Icon Unicodes
// Note: "/" is removed and will be added during scss compilation. Fix reason is provided in "abstracts/_functions.scss".
$icon-arrow-back: "e904";
$icon-arrow-forward: "e905";
$icon-menu: "e901";
$icon-dark: "e900";
$icon-sun: "e9d4";
$icon-google: "ea88";
$icon-facebook: "ea90";
$icon-instagram: "ea92";
$icon-twitter: "ea96";
$icon-dribbble: "eaa7";
$icon-behance: "eaa8";
$icon-github: "eab0";
$icon-linkedin: "eaca";
$icon-codepen: "eae8";
