/* Dribble shots on website */

.dribble-shots {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: -.5rem;
    margin-left: -.5rem;

    .shot {
        flex-grow: 1;
        box-sizing: border-box;
        padding-right: .5rem;
        padding-left: .5rem;
        flex-basis: 30.333333%;
        max-width: 30.333333%;
        position: relative;
        height: 256px;
        margin-bottom: 20px;
        margin-left: 20px;
        transition: transform cubic-bezier(0.31, 0.48, 0.53, 0.83) 0.3s;
        overflow: hidden;

        @media screen and (max-width: $break-sm) {
            flex-basis: 100%;
            max-width: 100%;
            margin: 20px;
        }

        &:before {
            position: absolute;
            content: "";
            width: 1000px;
            height: 1000px;
            background: var(--shot-hover-bg);
            top: 0;
            left: 0;
            transition: all cubic-bezier(0.31, 0.48, 0.53, 0.83) 0.5s;
            opacity: 0;
            transform: translate(-46%, -111%) rotate(60deg);
        }

        img {
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            z-index: -2;
            height: 100%;
        }

        .title {
            position: absolute;
            bottom: 25px;
            left: 30px;
            font-size: 25px;
            font-family: $font-family;
            font-weight: 500;
            color: var(--primary-bg);
            transition: all cubic-bezier(0.31, 0.48, 0.53, 0.83) 0.3s;
            transform: translateY(30px);
            opacity: 0;
            width: 70%;
            line-height: normal;
        }

        &:hover {
            box-shadow: 0px 9px 30px rgba(0, 0, 0, 0.21);
            transform: scale(1.02);
            transition: transform cubic-bezier(0.31, 0.48, 0.53, 0.83) 0.3s;

            .title {
                transition: all cubic-bezier(0.31, 0.48, 0.53, 0.83) 0.3s;
                transform: translateY(0px);
                opacity: 1;
            }

            &:before {
                opacity: 1;
                transform: translate(-35%, -43%) rotate(60deg);
                transition: all cubic-bezier(0.31, 0.48, 0.53, 0.83) 0.5s;
            }
        }
    }
}
