body {
    font-family: $font-family;
    scroll-behavior: smooth;
    background-color: var(--primary-bg);
    color: var(--primary-text);
}

// Selection
::selection {
    color: $white;
    background: var(--primary);
}
