.project {
  background-color: var(--secondary-bg);
  margin-top: 1.5rem;  

  &:last-child{
    margin-bottom: 4rem;
  }

  .row {
    margin-left: 0;
    margin-right: 0;
  }

  &__image-container {
    padding-left: 0;
    padding-right: 0;
  }

  &__title {
    font-size: 1.25rem;
  }

  &__description {
    color: var(--tertiary-text);
  }

  &__action {
    color: var(--primary);
    border-color: var(--primary);
    
    &:hover{
        color: $white;
        background-color: var(--primary);
    }
  }
}
