.about {
  &__content {
    * {
      line-height: 1.75;
    }
    &__hand-emoji {
      animation-duration: 2.5s;
      animation-iteration-count: infinite;
      animation-name: wave-hand-animation;
      display: inline-block;
      transform-origin: 70% 70%;
    }
    &__signature {
      fill: var(--primary);
      width: 350px;
      margin-left: -0.5rem;
    }
  }
}
