.hero {
  @include media-breakpoint-up(sm) {
    height: 350px;
  }

  &__jumbotron {
    font-size: 3.125rem;
  }

  &__lead {
    color: var(--tertiary-text);
    font-size: 1.5rem;
    line-height: 1.75;
    max-width: 800px;

    &--name {
      color: var(--secondary-text);
      border-bottom: 3px solid var(--primary);
    }
  }
}

.section {
  &__label {
    font-size: 0.75rem;
    color: var(--primary);
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.375rem;
  }
}

.project {
  background-color: var(--secondary-bg);
  margin-top: 1.5rem;

  &:last-child {
    margin-bottom: 4rem;
  }

  .row {
    margin-left: 0;
    margin-right: 0;
  }

  &__image-container {
    padding-left: 0;
    padding-right: 0;
  }

  &__title {
    font-size: 1.25rem;
  }

  &__description {
    color: var(--tertiary-text);
  }

  &__action {
    color: var(--secondary-text);
    border-color: var(--secondary-text);

    &:hover {
      color: var(--primary-bg);
      background-color: var(--secondary-text);
    }
  }
}
