.hero {
  @include media-breakpoint-up(sm) {
    height: 550px;
  }

  &__jumbotron {
    font-size: 3.125rem;
  }

  &__lead {
    color: var(--tertiary-text);
    font-size: 1.5rem;
    line-height: 1.75;
    // max-width: 900px;

    &--name {
      color: var(--secondary-text);
      border-bottom: 3px solid var(--primary);
    }
  }
}

.section {
  &__label {
    font-size: 0.75rem;
    color: var(--primary);
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.375rem;
  }
}

.featured-project {
  background-color: var(--secondary-bg);
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;

  .row {
    margin-left: 0;
    margin-right: 0;
  }

  &__image-container {
    padding-left: 0;
    padding-right: 0;
  }

  &__title {
    font-size: 1.25rem;
  }

  &__description {
    color: var(--tertiary-text);
  }

  &__action {
    color: var(--secondary-text);
    border-color: var(--secondary-text);

    &:hover {
      color: var(--primary-bg);
      background-color: var(--secondary-text);
    }
  }

  &__view-all {
    color: var(--tertiary-text);
    .icon-arrow-forward {
      $transition-property: transform;
      transition:  #{$transition-property} #{$transition-duration} #{$transition-timing-function};
    }
    &:hover {
      color: var(--primary);

      .icon-arrow-forward {
        transform: translateX(5px);
      }
    }
  }
}

.dev-deck{
  &__item{
    $transition-property: transform;
    transition:  #{$transition-property} #{$transition-duration} #{$transition-timing-function};
    height: 125px;
    width: 125px;
    @include media-breakpoint-up(sm) {
    height: 175px;
    width: 175px;
    }
    &:hover{
      text-decoration: none;
      transform: scale(1.05);
    }
    &--1{
      background-color:#007DFB;
    }
    &--2{
      background-color:#805CF5;
    }
    &--3{
      background-color:#96e6a1;
    }
    &--4{
      background-color:#EE7A40;
    }
    &__image{
      width: 55%;
      height: auto;
    }
  }
}